@import "tailwindcss";
@import "../../shared/styles/index.css";

html {
  font-size: 16px;
}

body {
  background: var(--white);
  color: var(--black);
  line-height: 1;
  letter-spacing: 0;
  font-family: 'Open Sans', sans-serif;
}

@layer components {
  .h1 {
    margin: 0 !important;
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    font-size: 3.125rem;

    @media (max-width: 1024px) {
      font-size: 1.75rem;
    }
  }

  .h2 {
    font-weight: 700;
    font-size: 1.75rem;

    @media (max-width: 1024px) {
      font-size: 1.125rem;
    }
  }

  .h3 {
    font-weight: 500;
    font-size: 1.75rem;

    @media (max-width: 1024px) {
      font-size: 1.125rem;
    }
  }

  .p {
    font-weight: 500;
    font-size: 1.5rem;

    @media (max-width: 1024px) {
      font-size: 0.875rem;
    }
  }

  .caption {
    font-weight: 500;
    font-size: 1.25rem;

    @media (max-width: 1024px) {
      font-size: 0.625rem;
    }
  }

  .sms {
    font-weight: 600;
    font-size: 3.75rem;

    @media (max-width: 1024px) {
      font-size: 2.125rem;
    }
  }
}